._abc {
  background-color: #cccccc;
  height: 100vh;

}

._d321 {
  width: 12rem;
}

._b111 {
  font-weight: 900;
  font-size: 18px;
}

._ffb12 {
  height: 18rem;
  width: 18rem;
}

.s112 {
  width: 25rem;
  height: 25rem;
}
